.bn-container .mantine-Tooltip-tooltip {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.bn-container[data-color-scheme="dark"] {
  --bn-colors-editor-background: #0a0a0a;
}
